@import './markdown.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
/*@tailwind screens;*/

@layer utilities {
	.btn {
		@apply px-2 py-1 block font-semibold shadow ring-indigo-400 transition
		hover:ring-2
	}

	.btn-style {
		@apply px-2 py-1 shadow ring-indigo-400 transition hover:ring-2
	}

	.center {
		@apply justify-center items-center
	}

	.flex-pass-col {
		@apply flex flex-col flex-1
	}

	.flex-pass-row {
		@apply flex flex-row flex-1
	}

	.pill {
		@apply px-1 text-white font-extrabold pb-1 pt-0.5
	}

	.tag {
		@apply pill text-xs bg-green-500
	}
}

@layer base {
	label {
		display: block;
	}

	input:not([type=checkbox]) {
		@apply w-full
	}

	html,
	body {
		font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
		scrollbar-width: none;
	}

	::-webkit-scrollbar {
		display: none;
	}

	li, ol {
		list-style: initial;
	}
}
